.App {
  text-align: center;
}

.container {
  width: 500px;
  height: 150px;
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -51%);
}

input, select {
  padding: 5px;
}

select {
  width: 175px;
}

.typescontainer {
  margin-top: 10px;
}

.resultType {
  margin-left: 12px;
}